@import "../../../scss/variables";

.optionItem {
	position: relative;
	cursor: pointer;
}

.input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	left: 0;
	top: 0;
	visibility: hidden;
	&:checked + .text:after {
		transform: scale(1);
	}
}

.text {
	display: inline-flex;
	align-items: center;
	position: relative;
	font-size: 16px;
	letter-spacing: -0.3px;
	line-height: calc(20 / 16);
	&:before {
		content: "";
		align-self: flex-start;
		margin: 0px 5px 0px 0px;
		flex: 0 0 20px;
		left: 0;
		top: 0;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background: #fff;
		border: 1px solid lightblue;
	}
	&:after {
		content: "";
		transition: all 0.3s ease 0s;
		transform: scale(0);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $lightBlue;
		position: absolute;
		left: 5px;
		top: 5px;
	}
}
