@import "../../../scss/variables";

.root {
	display: flex;
	li {
		&:not(:last-child) {
			margin: 0px 2px 0px 0px;
		}
		a {
			padding: 10px;
			color: black;
			font-size: 14px;
			background: transparent;
			cursor: pointer;
			line-height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid lightblue;
			border-radius: 2px;
			transition: background 0.3s ease 0s;
			@media (any-hover: hover) {
			&:hover {
				background: $lightBlue;
			}
		}
		}
		
	}
	:global {
		.previous {
		}

		.selected {
			a {
				background-color: $lightBlue;
				color: #fff;
			}
		}
	}
}
