 @import "../../../scss/variables";
 
 .button {
	 color: black;
	 font-size: 14px;
	 background: transparent;
	 cursor: pointer;
	 line-height: 20px;
	 display: flex;
	 justify-content:center;align-items: center;
 }