.favorite {
	height: 100%;
}
.conteiner {
	display: flex;
	flex-direction: column;
}

.decription {
	text-align: center;
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
	justify-content: center;
	gap: 5px;
	grid-auto-rows: 1fr;
}

.title {
	text-align: center;
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1rem;
	letter-spacing: 0.1rem;
}
