.header {
	.container {
		padding-top: 20px;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.buttom {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20px;
}

.form {
	flex: 1 1 auto;
}

.formLine {
	display: flex;
	justify-content: center;
	align-items: center;
}
