@import "../../scss/variables";

.header {
	.container {
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
}
.logoimage {
	width: 25px;
}

.logo {
	display: flex;
	align-items: center;
	span {
		color: black;
		font-weight: 700;
	}
}
