.body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.description {
	font-size: 20px;
	margin-bottom: 20px;
}
